@import './base.css';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Garet';
	src: url(../fonts/Garet-Book.otf) format('opentype');
}
@font-face {
	font-family: 'Garet-2';
	src: url(../fonts/Garet-Heavy.otf) format('opentype');
}
@font-face {
	font-family: 'Brittany';
	src: url(../fonts/BrittanySignature.ttf) format('truetype');
}
@font-face {
	font-family: 'PaintBrushScript';
	src: url(../fonts/PaintBrushScript-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Norden';
	src: url(../fonts/Norden-JRMpm.ttf) format('truetype');
}
@font-face {
	font-family: 'Commodus-Greek';
	src: url(../fonts/Commodus-Greek.ttf) format('truetype');
}
@font-face {
	font-family: 'Commodus-Regular';
	src: url(../fonts/Commodus-Regular.ttf) format('truetype');
}
